        <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/graduate-program/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a id="about" class="nav-link" href="/graduate-program/about.html">About</a>
                      </li>
                      <li class="nav-item">
                        <a id="prospectiveStudents" class="nav-link" href="/graduate-program/prospective-students.html">Prospective Students</a>
                      </li>                      <li class="nav-item">
                        <a id="newStudents" class="nav-link" href="/graduate-program/new-students.html">New Students</a>
                      </li>
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Course Offerings
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/graduate-program/grad-courses-spring-2026.html">Spring 2026</a></li>
                            <li><a class="dropdown-item" href="/graduate-program/grad-courses-fall-2025.html">Fall 2025</a></li>
                            <li><a class="dropdown-item" href="/graduate-program/grad-courses-spring-2025.html">Spring 2025</a></li>
                          </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>